Repository KallistiOS/KallistiOS, pull requests merged in 2025-08, with the labels that each got.

#1011 Eliminate non-standard fixed-width integer types from examples
  examples/dreamcast/2ndmix/2ndmix.c
  examples/dreamcast/2ndmix/gfx/font14_256.h
  examples/dreamcast/basic/threading/rwsem/rwsem_test.c
  examples/dreamcast/cpp/modplug_test/example.cpp
  examples/dreamcast/dreameye/basic/dreameye.c
  examples/dreamcast/dreameye/sd/dreameye-sd.c
  examples/dreamcast/filesystem/sd/ext2fs/sd-ext2fs.c
  examples/dreamcast/g1ata/atatest/atatest.c
  examples/dreamcast/gldc/nehe/nehe26/nehe26.c
  examples/dreamcast/keyboard/keytest/keytest.c
  examples/dreamcast/kgl/basic/elements/pvr-texture.c
  examples/dreamcast/kgl/basic/gl/pvr-texture.c
  examples/dreamcast/kgl/basic/scissor/pvr-texture.c
  examples/dreamcast/kgl/basic/txrenv/pvr-texture.c
  examples/dreamcast/kgl/basic/zclip_arrays/pvr-texture.c
  examples/dreamcast/kgl/demos/blur/pvr-texture.c
  examples/dreamcast/kgl/demos/mipmap/pvr-texture.c
  examples/dreamcast/kgl/demos/multitexture-arrays/pvr-texture.c
  examples/dreamcast/kgl/demos/multitexture-elements/pvr-texture.c
  examples/dreamcast/kgl/demos/specular/font.c
  examples/dreamcast/kgl/demos/specular/font.h
  examples/dreamcast/kgl/demos/specular/pvr-texture.c
  examples/dreamcast/kgl/demos/specular/specular.c
  examples/dreamcast/kgl/demos/specular/timer.c
  examples/dreamcast/kgl/nehe/nehe06/pvr-texture.c
  examples/dreamcast/kgl/nehe/nehe08/pvr-texture.c
  examples/dreamcast/kgl/nehe/nehe09/pvr-texture.c
  examples/dreamcast/kgl/nehe/nehe16/pvr-texture.c
  examples/dreamcast/kgl/nehe/nehe26/nehe26.c
  examples/dreamcast/libdream/lcd/lcd.c
  examples/dreamcast/libdream/spu/spu.c
  examples/dreamcast/libdream/ta/ta.c
  examples/dreamcast/libdream/vmu/vmu.c
  examples/dreamcast/lightgun/basic/lightgun.c
  examples/dreamcast/lua/basic/lua.c
  examples/dreamcast/mruby/dreampresent/dckos.c
  examples/dreamcast/mruby/mrbtris/dckos.c
  examples/dreamcast/network/ping/ping.c
  examples/dreamcast/network/ping6/ping.c
  examples/dreamcast/network/udpecho6/echo.c
  examples/dreamcast/parallax/delay_cube/delay_cube.c
  examples/dreamcast/parallax/rotocube/rotocube.c
  examples/dreamcast/parallax/serpent_dma/perfmeter.c
  examples/dreamcast/parallax/serpent_dma/serpent.c
  examples/dreamcast/pvr/cheap_shadow/shadow.c
  examples/dreamcast/pvr/modifier_volume/modifier.c
  examples/dreamcast/pvr/modifier_volume_tex/modifier.c
  examples/dreamcast/pvr/plasma/plasma.c
  examples/dreamcast/pvr/texture_render/texture_render.c
  examples/dreamcast/sound/ghettoplay-vorbis/bkg.c
  examples/dreamcast/sound/ghettoplay-vorbis/songmenu.c
  examples/dreamcast/sound/ghettoplay-vorbis/texture.c
  examples/dreamcast/vmu/vmu_game/vmu_game.c
  examples/dreamcast/vmu/vmu_pkg/vmu.c
Labels: cleanup, example

#1119 Added kos_run_target() to CMake toolchain.
  utils/cmake/dreamcast.cmake
Labels: enhancement, build system

#1125 Adjust dbglog usage in examples.
  examples/dreamcast/cdrom/stream/cd-stream-test.c
  examples/dreamcast/filesystem/sd/speedtest/sd-speedtest.c
  examples/dreamcast/g1ata/atatest/atatest.c
  examples/dreamcast/gldc/benchmarks/quadmark/quadmark.c
  examples/dreamcast/gldc/benchmarks/trimark/trimark.c
  examples/dreamcast/gldc/benchmarks/tristripmark/tristripmark.c
  examples/dreamcast/kgl/benchmarks/quadmark/quadmark.c
  examples/dreamcast/kgl/benchmarks/trimark/trimark.c
  examples/dreamcast/kgl/benchmarks/tristripmark/tristripmark.c
  examples/dreamcast/library/library-test.c
  examples/dreamcast/library/loadable-dependence/library-dependence.c
  examples/dreamcast/library/loadable-dependent/library-dependent.c
  examples/dreamcast/parallax/delay_cube/delay_cube.c
  examples/dreamcast/parallax/rotocube/rotocube.c
  examples/dreamcast/parallax/serpent_dma/serpent.c
  examples/dreamcast/pvr/pvrmark/pvrmark.c
  examples/dreamcast/pvr/pvrmark_strips/pvrmark_strips.c
  examples/dreamcast/pvr/pvrmark_strips_direct/pvrmark_strips_direct.c
Labels: cleanup, example

#1123 cmake: Make CMake toolchain script arch-agnostic
  doc/environ.sh.sample
  utils/build_wrappers/kos-ccmake
  utils/build_wrappers/kos-cmake
  utils/cmake/Platform/dreamcast.cmake
  utils/cmake/kallistios.cmake
  utils/cmake/kallistios.toolchain.cmake
Labels: build system

#1137 Move arch-specific includes from kos.h to arch/kos.h
  include/kos.h
  kernel/arch/dreamcast/include/arch/kos.h
Labels: cleanup, arch API

#1120 Update 15.x profiles to 15.2.0/15.2.1-dev. All dev profiles upgraded to Binutils 2.45 and GDB 16.3
  utils/dc-chain/Makefile.dreamcast.cfg
  utils/dc-chain/Makefile.gamecube.cfg
  utils/dc-chain/doc/CHANGELOG.md
  utils/dc-chain/patches/targets/gcc-15.2.0-kos.diff
  utils/dc-chain/patches/targets/gcc-15.2.1-kos.diff
  utils/dc-chain/profiles/aica/stable.mk
  utils/dc-chain/profiles/dreamcast/13.4.1-dev.mk
  utils/dc-chain/profiles/dreamcast/14.3.1-dev.mk
  utils/dc-chain/profiles/dreamcast/15.0.0-lra.mk
  utils/dc-chain/profiles/dreamcast/15.2.0.mk
  utils/dc-chain/profiles/dreamcast/15.2.1-dev.mk
  utils/dc-chain/profiles/dreamcast/16.0.0-dev.mk
  utils/dc-chain/profiles/gamecube/stable.mk
Labels: update, toolchain

#1148 vmu_lcd example: Add wait after draw to throttle animation.
  examples/dreamcast/vmu/vmu_lcd/lcd.c
Labels: bug, example

#1160 cmake: Restore compatibility with CMake 3.20
  utils/cmake/kallistios.toolchain.cmake
Labels: build issues, build system

#1175 CI: Fix overzealous whitespace check
  .github/workflows/whitespace.yml
Labels: build system
